
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.logo{
    display:inline-block;
    background-color:aquamarine;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    border:1px solid;
    border-radius:5px;
}

.navbar{
    display:flex;
    align-items:center;
    padding:10px;

}
nav{
    flex:1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display:inline-block;
    margin-right: 20px;
    color:black;

}
.products{
   margin-top: 50px;
    display:grid;
    max-width:30px;
    width:100%;
    grid-template-columns:1fr 1fr 1fr ;
    column-gap:100px;
    row-gap:400px;
    grid-template-rows:100px 100px  100px;
    margin-right:100px;
    margin-left:200px;
}

.price {
    color: grey;
    font-size: 22px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
    

    

.card1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    bottom-margin: 50px;
    position:relative;
  }
  
    
  
   button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  button:hover {
    opacity: 0.7;
  }
  
  .input{
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;
  }
  .TEXT{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  .NUMBER{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .URL{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  body{
    
    background-color:aqua;
    margin-bottom:50px;
    padding-bottom:100px;
  }
  /*.card3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
  }
  







  
   
